@model IEnumerable<DemoHotelBooking.ViewModels.RoomViewModel>

@{
    ViewData["Title"] = "RoomStatus";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Tinh trạng phòng</h1>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4 col-md-3 col-lg-2" style="background:@item.StatusColor;margin:5px;">
                @Html.DisplayFor(modelItem => item.Name)
                <br />
                @Html.DisplayFor(modelItem => item.Status)
            </div>
        }
    </div>
</div>
<form asp-action="RoomStatus" asp-controller="RoomManager" asp-area="Admin">
    <select name="date">
        <option value="1">
            Hiện tại
        </option>
        <option value="2">
            6:00 - 12:00
        </option>
        <option value="3">
            12:00 - 18:00
        </option>
        <option value="4">
            18:00 - 24:00
        </option>
    </select>
    <input type="submit"/>
</form>
